{% extends 'base_muscify.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<div class="container profile-page">
  <div class="row">
    <!-- displaying  Username-->
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <div class="display-user-profile">
        <div class="profile-picture">
          {% if user.prof_pic %}
          <img src="{{url_for('static',filename=user.prof_pic)}}" alt="user-profile-pic"
            class="img-thumbnail profile-pic" id="prof-pic" title="Profile picture">
          {%else%}
          <p>No profile picture</p>
          {% endif %}
          <br><br>
          <div class="update-prof-pic" id="update-prof-pic">
            {% if user == current_user %}
            <form action="{{url_for('main.update_pic',uname=user.username,userid=user.id)}}" method="post"
              enctype="multipart/form-data">
              <input type="file" name="photo" class="form-control" required>
              <br>
              <input type="submit" class="btn">
            </form>
            {% endif %}
          </div>
        </div>
        <div class="profile-details">
          <h3> {{user.username| capitalize}} </h3>
          <!--Displaying user bio-->
          {% if user.bio %}
          <p> {{user.bio}}</p>
          {%else%}
          <p> {{user.username| capitalize}} has no bio </p>
          {% endif %}
        </div>
        {% if user == current_user %}
        <a class="page-links" href="{{url_for('main.update_profile',uname=user.username,userid=user.id)}}">Edit
          profile</a>
        {% endif %}
      </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-6 display-user-reviews">
      <h5>My Reviews</h5>
      {% if reviews %}
      {% for review in reviews %}
      <div class="">
        <p>{{review.track_review }}</p>
        <small>{{review.posted}}</small>
      </div>
      <hr>
      {% endfor %}
      {% else %}
      <p>No reviews yet </p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}


<!-- 

<div class="container user-profile">
  <div class="container">
    <div>
      <h3 class="text-center"> {{user.username| capitalize}} </h3>
      {% if user.bio %}
      <p> {{user.bio}}</p>
      {%else%}
      <p> {{user.username| capitalize}} has no bio </p>
      {% endif %}
    </div>
  </div>
  <div class="container">
    <div>
      {% if user.profile_pic_path %}
      <img src="{{url_for('static',filename=user.profile_pic_path)}}" alt="" class="img-thumbnail">
      {%else%}
      <p> No profile picture</p>
      {% endif %}

      {% if user == current_user %}
      <a class="edit page-links" href="{{url_for('main.update_profile',uname=user.username)}}"> Edit profile </a>
      {% endif %}
      <div class="container">
        <div class="col-md-4">
          {% if user == current_user %}
          <form action="{{url_for('main.update_pic',uname=user.username,userid=user.id)}}" method="post"
            enctype="multipart/form-data">
            <input type="file" name="photo" class="form-control" required>
            <input type="submit">
          </form>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

-->