{% extends 'base_muscify.html'%}

{%block content%}
<div class="row track-display" align="center">
{% for chart in charts%}
<div class="col-md-4">
    <div class="card display-card">
        <img class="card-img-top album-image" src="{{chart.albumImage}}" alt="album-image">
        <p><cite title="View Artist">Artist: {{chart.artistName}}</cite></p>
        <div class="card-body">
            <a href="/charts/tracks/{{chart.id}}">
                <h5 class="card-title page-links" title="Listen to track">Track: {{chart.title}}</h5>
            </a>
        </div>
    </div>
</div>
{%endfor%}
</div>
{%endblock%}