<h2 class="first-heading text-center mb-4 intro">Get IN <span class="in-touch"> touch with us</span> </h2>
<div class="row m-auto mb-4 main">
  <div class="col-md-6">
    <h4> Muscify </h4>
    <p>
      Get a feel of THius new Music App in the Market .Enjoy 
      listeniing to your favourite tunes from the comfort of your Home
    </p>
    <p class="mb-5">
      Looking for a quick answer to your question? Checkout
      <a href="">FAQs</a>
    </p>
    <div class="more-info">
      <p class="mt-5"><em>For more information:</em></p>
      <i class="fa-brands fa-linkedin fa-xl me-2"></i>
      <i class="fa-brands fa-twitter fa-xl me-2"></i>
      <i class="fa-brands fa-facebook fa-xl me-2"></i>
      <i class="fa-brands fa-instagram fa-xl me-2"></i>
<i class="fa-brands fa-whatsapp fa-xl"></i>
    </div>
  </div>
<div class="col-md-6">
    <form class="user-message" action="">
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Hi, <span id="formname"></span></strong> We have received your message. Thank for reaching out.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="mb-3">
            <label for="name" class="form-label">First Name</labe >
            <input
              type="text"
              class="form-control"
              id="firstName" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
            <label for="name" class="form-label">Last Name</label>
            <input
              type="text"
              class="form-control"
              id="lastName"/> 
            
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email" required>
      </div>
      <div class="mb-3">
        <label for="phoneNumber" class="form-label">Phone Number</label>
        <input type="number" class="form-control" id="phoneNumber">
      </div>
      <div class="form-floating">
        <label for="message"> Message</label>
        <textarea class="form-control" placeholder="Leave a comment here" id="message" style="height: 100px"></textarea> 
      </div>
      <div class="text-center"><button type="submit" id="submit" class="btn">Submit</button></div>
    </form>
  </div>
  </div>
</div>
