<footer class="main-footer">
    <div class="container">
        <nav class="footer-nav">
            <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
        <nav class="footer-nav">
            <ul>
                <li>
                    <a href="#" class="social-link">
                        <img src="{{url_for('static',filename='/css/assets/twitter.svg')}}">
                        Twitter
                    </a>
                </li>
                <li>
                    <a href="#" class="social-link">
                        <img src="{{url_for('static',filename='/css/assets/facebook.svg')}}">
                        Facebook
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</footer>