<footer class="main-footer">
    <div class="container">
        <nav class="footer-nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="{{url_for('auth.logout')}}">SignOut</a></li>
            </ul>
        </nav>
        <nav class="footer-nav">
            <ul>
                <li>
                    <a href="https://twitter.com" class="social-link">
                        <img src="{{url_for('static',filename='/css/assets/twitter.svg')}}">
                        Twitter
                    </a>
                </li>
                <li>
                    <a href="https://facebook.com" class="social-link">
                        <img src="{{url_for('static',filename='/css/assets/facebook.svg')}}">
                        Facebook
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</footer>