{% extends 'base_muscify.html' %}

{% block content %}
<div class="container full-height-grow" id="">
    <section class="home-main-section">
        <div class="img-wrapper">
            <div class="lady-image"></div>
        </div>
        <div class="call-to-action">
            <h1 class="title">Feel The Music</h1>
            <span class="subtitle">Stream over 20 thousand songs with one click</span>
            <a href="/authenticate/register" class="btn">Join Now</a>
        </div>
    </section>
    <div class="home-page-circle-1"></div>
    <div class="home-page-circle-2"></div>
    <div class="home-page-circle-3"></div>
</div>
{% include 'footer.html' %}
{% endblock %}