<header class="main-header">
    <a href="/" class="brand-logo">
        <img src="{{url_for('static',filename='/css/assets/logo.png')}}">
        <div class="brand-logo-name">Muscify</div>
    </a>
    <nav class="main-nav">
        <ul>
            <li><a href="/discover" class="nav-items">Discover</a></li>
            <li><a href="/authenticate/login" class="nav-items">SignIn</a></li>
            <li><a href="/authenticate/register" class="nav-items">Join</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if current_user.is_authenticated %}     
              <li class="nav-item">
                  <a  class="nav-link" href="{{url_for('auth.profile',uname=current_user.username)}}">
                  <button class="btn"> Profile </button></a>
              </li>
              <li     <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}     
                  <li class="nav-item">
                      <a  class="nav-link" href="{{url_for('auth.profile',uname=current_user.username)}}">
                      <button class="btn btn-sm" > Profile </button></a>
                  </li>
                  <li style="color:white;">{{current_user.username}}</li>
          
                  <li class="nav-item">
                    <a class="nav-link " href="{{url_for('auth.logout')}}">
                    <button class="btn btn-sm" style="margin-left:20px;"> LogOut</button></a>
                  </li>
                {% endif %}
            </ul>">{{current_user.username}}</li>
      
              <li class="nav-item">
                <a class="nav-link " href="{{url_for('auth.logout')}}">
                <button class="btn" style="margin-left:20px;"> LogOut</button></a>
              </li>
            {% endif %}
        </ul>
    </nav>
</header>