<header class="main-header">
    <a href="/" class="brand-logo">
        <img src="{{url_for('static',filename='/css/assets/logo.png')}}">
        <div class="brand-logo-name">Muscify</div>
    </a>
    <nav class="main-nav">
        <ul>
            <li><a href="/discover" class="nav-items">Discover</a></li>
            <li><a href="/authenticate/login" class="nav-items">SignIn</a></li>
            <li><a href="/authenticate/register" class="nav-items">Join</a></li>
        </ul>
    </nav>
</header>